/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */
.row {
  max-width: 1140px;
  margin: 0 auto; 
}
/* ----- HEADINGS ----- */
h1, 
h2,
h3 {  
  font-weight: 300;
  text-transform: uppercase;
}

/* ----- PARAGRAPHS ----- */

/* ----- ICONS ----- */

/* ----- LINKS ----- */

/* ----- BUTTONS ----- */


/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */
header{
  background-color: darkgoldenrod;

}
.header-wrapper {
  
}

.logo {  
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 200%;
  word-spacing: 4px;  
  letter-spacing: 1px;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* ------------------------------------------ */
/* SEARCH */
/* ------------------------------------------ */

/* ------------------------------------------ */
/* LIST */
/* ------------------------------------------ */

/* ------------------------------------------ */
/* BANNER */
/* ------------------------------------------ */

/* ------------------------------------------ */
/* LEADERBOARD */
/* ------------------------------------------ */