/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

li {
  list-style: none;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */
.row {
  max-width: 1140px;
  margin: 0 auto; 
}

.rowB {
  max-width: 1140px;  
  margin: 50px auto; 
  display:flex;
  flex-direction: row;
}

.box {
  margin-top: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

/* ----- HEADINGS ----- */
h1 {  
  font-weight: 300;
  text-transform: uppercase;
}


/* ----- PARAGRAPHS ----- */

/* ----- ICONS ----- */

/* ----- LINKS ----- */

/* ----- BUTTONS ----- */


/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */
header{
  background-color: darkgoldenrod;

}

.logo {  
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 200%;
  word-spacing: 4px;  
  letter-spacing: 1px;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* ------------------------------------------ */
/* SEARCH */
/* ------------------------------------------ */
.search-container {
}

/* ----- CARD ----- */
.search-card-closed {  
  
}
.search-card-closed li{  
  display: inline-block;
}


.poster{
  max-width: 70px;
  height: auto;
}

/* ------------------------------------------ */
/* LIST */
/* ------------------------------------------ */

/* ------------------------------------------ */
/* BANNER */
/* ------------------------------------------ */
.container {
  
}

.banner-container{
  display: flex;
}

.banner-container li{
}

.banner-card {
  display: flex;
  width: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

.banner-card-left {
  width: 30%;
  padding-top: 4px;
}


.banner-card-right {
  width: 70%;
  margin-left: 7px;
  
}

.banner-card li {
 
}

/* ------------------------------------------ */
/* LEADERBOARD */
/* ------------------------------------------ */